<!DOCTYPE html>
<html>
<head>
<title>What's your favorite Movie?</title>
</head>
<body>
<h1 style="text-align:center">What's your favorite Movie?</h1>
<form method="POST" action="/" style="display:flex;align-items:center;flex-direction: column;">
<label for="username">Username:</label>
<input type="text" id="username" name="username" required><br><br>
<label for="favorite movie">Movie:    </label>
<input type="text" id="movie" name="movie" required><br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>